# Streamlit Cloud Cache Buster: 2026-01-08-01
streamlit==1.41.0
pandas==2.2.0
numpy==1.26.4
PyMuPDF>=1.22.5
paddleocr>=2.7.0
paddlepaddle>=2.6.0
opencv-python-headless==4.9.0.80
Pillow>=10.2.0
openpyxl>=3.1.2
altair<5
requests
typing_extensions
protobuf
setuptools
